<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://arpodol-airline-routes.herokuapp.com/" class="portfolio-box">
                    <img src="img/portfolio/Routes.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Airport Routes
                            </div>
                            <div class="project-name">
                                React Application that displays filtered airline routes.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arpodol-tickit.herokuapp.com/" class="portfolio-box">
                    <img src="img/portfolio/Tickets.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tickit
                            </div>
                            <div class="project-name">
                                Rails Application that associates tickets with projects.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
